body{
  background-image : url('background.jpg');
  -webkit-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.app{
  background-image: url('login_logo.png');
  background-repeat: no-repeat;
  background-size: contain;
  margin: auto;
  width: 50%;
  padding: auto;
}
.Login-Box{
  margin: 80px;
  padding: 80px;
  width: 500px;
  height: 30px;
  opacity: 0.7;
}
.Text-Field{
  font-size: 2em;
  font-family: 궁서;
  color: white;
  font-style: bold;
  margin: 10px;
  filter: alpha(opacity=70);
}
.Button-Field{
  font-size: 2em;
  color: white;
  font-family: 궁서;
}
input{
   width: 130px;
   height: 30px;
   font-size: 18px;
}
#sign_in{
  width: 10em;
  height: 1.5em;
  color: white;
  font-size: 30px;
  background-color:rgb(237,30,39); 
  font-size: 20px;
  font-family: 궁서;
  width: 120px;
  height: 40px;
}
#sign_up{
   width: 120px;
   height: 40px;
}

