.box{
  position: static;
  text-align: center;
  font-size: 2em;
  font-weight: bold;
  font-family: 궁서;
}
img{
  width: 100px;
  height: 130px;
  position: absolute;
  top: 20px;
  left: 30px;
  background: url("./login_logo.png") no-repeat;
  background-size: contain;
}
#sign_up{
  width: 10em;
  height: 1.5em;
  font-family: 궁서;
  color: white;
  font-size: 30px;
  background-color:rgb(237,30,39); 
}
input{
  height: 2em;
}
