.field {
    height: 20px;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 0;
    width: 150px;
}

.sign_in {
    font-size: 16px;
    height: 24px;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 0;
    text-align: center;
    width: 150px;
}

